@{
    ViewBag.Title = "Информация о пользователе";
}

@if (User.Identity?.IsAuthenticated != true)
{
    <div class="alert alert-danger">
        Вы не авторизованы.
        Пожалуйста, выполните вход в систему.
    </div>
}

<div class="row">
    <div class="col-6">
        @if (User.Claims.Any())
        {
            <h2>Claims</h2>
            @foreach (var claim in User.Claims)
            {
                <strong>@Html.DisplayFor(_ => claim.Type)</strong>
                @Html.DisplayFor(_ => claim.Value)<br/>
            }
        }
    </div>
    <div class="col-6">
        @if (ViewBag.UserProps != null)
        {
            <h2>Properties</h2>
            @foreach (var prop in ViewBag.UserProps)
            {
                <strong>@(prop.Key)</strong>
                @(prop.Value)<br/>
            }
        }
    </div>
</div>

@if (ViewBag.EsiaEnvironment is AISGorod.AspNetCore.Authentication.Esia.EsiaEnvironment.IEsiaEnvironment esiaEnvironment)
{
    <h2>Настройки подключения к ЕСИА:</h2>
    <strong>Тип данных</strong>
    @Html.DisplayFor(_ => esiaEnvironment.GetType().FullName)
    <br/>
    <strong>Хост</strong>
    @Html.DisplayFor(_ => esiaEnvironment.Host)
    <br/>
    <strong>Отпечатки сертификатов ЕСИА:</strong>
    <ul>
        @foreach (var cert in esiaEnvironment.EsiaCertificates)
        {
            <li>@cert.Thumbprint</li>
        }
    </ul>
    <br/>
}