@{
    ViewBag.Title = "Информация о пользователе";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="alert alert-danger">
        Вы не авторизованы.
        Пожалуйста, выполните вход в систему.
    </div>
}

<div class="row">
    <div class="col-6">
        @if (User.Claims.Any())
        {
            <h2>Claims</h2>
            @foreach (var claim in User.Claims)
            {
                <strong>@(claim.Type)</strong> @(claim.Value)<br />
            }
        }
    </div>
    <div class="col-6">
        @if (ViewBag.UserProps != null)
        {
            <h2>Properties</h2>
            @foreach (var prop in ViewBag.UserProps)
            {
                <strong>@(prop.Key)</strong> @(prop.Value)<br />
            }
        }
    </div>
</div>

@if (ViewBag.EsiaEnvironment is AISGorod.AspNetCore.Authentication.Esia.IEsiaEnvironment esiaEnvironment)
{
    <h2>Настройки подключения к ЕСИА:</h2>
    <strong>Тип данных</strong> @(esiaEnvironment.GetType().FullName)
    <br />
    <strong>Хост</strong> @(esiaEnvironment.Host)
    <br />
    <strong>Отпечаток сертификата ЕСИА</strong> @(esiaEnvironment.EsiaCertificate.Thumbprint)
    <br />
}
